#time-left {
  display: flex;
  }

#output {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 50%;
  font-size: 50px;
  color: sienna;
}

#image {    
    border-radius: 10px;
    opacity: 0.8;
}



