#time-left {
  display: flex;
  width: 30%;

}

#output {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 50%;
  font-size: 50px;
  color: sienna;
}

#image {
    width: 50%;
    border-radius: 10px;
    opacity: 0.8;
}

h1 {
    color: 
}